body{
    background:black;
}

p{
    text-align:center;
    font-size:30px;
    color:#ff0000;
}

h2{
    text-align:center;
    color:lime;
}

h3{
    color:#00ff00;
    text-align:center;
    font-size:30px;
}

u{
    color:red;
    text-align:center;
}
h1{
    color:lime;
    text-align:center;
}

div{
    color:lime;
    text-align:center;
    font-size:50px;
}

ion-icons{
    color:red;
    font-size:25px;
}

h4{
    color:lime;
    text-align:center;
}

h6{
    color:red;
    text-align:center;
    font-size:25px;
}

h1{
    color:cyan;
    text-align:center;
}

.box{
 width: 150px;
  height: 150px;
  border: 1px solid lime;
  padding: 10px;
  margin: 10px;
  background:black;
}

{
    color:red;
    font-size:10%;
}
    
li{
    color:lime;
    font-size:14%;
}
