body{
    background:black;
}

p{
    text-align:center;
    font-size:30px;
    color:#ff0000;
}

h2{
    text-align:center;
    color:lime;
}

h3{
    color:#00ff00;
    text-align:center;
    font-size:30px;
}

u{
    color:red;
    text-align:center;
}
h1{
    color:cyan;
    text-align:center;
}

div{
    color:cyan;
    text-align:center;
    font-size:50px;
}


